
html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    color: #3f3f3f;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.5rem;
}

body {
    background-color: #3f3f3f;
}

.login-page {
    color: #ffffff;
}

.header {
    text-align: center;
    margin-top: 10vh;
}

.login-container {
    height: 50vh;
    font-size: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-field-container {
    margin: 2vh;
    display: flex;
    flex-direction: column;
}

.user-input {
    font-size: 1.75rem;
}

#login-btn {
    background-color: #3f3f3f3f;
    color: #ffffff;
    border: none;
    outline: none;
}

#login-btn:hover {
    text-decoration: underline;
}

#add-user {
    background-color: #3f3f3f3f;
    color: #ffffff;
    border: none;
    outline: none;
}

#add-user:hover {
    text-decoration: underline;
}

#newuser-btn {
    background-color: #3f3f3f3f;
    color: #ffffff;
    border: none;
    outline: none;
}

#newuser-btn:hover {
    text-decoration: underline;
}

#newuser-header {
    color: #ffffff;
}

#today {
    float: right;
}

.page-container {
    display: grid;
    grid-template-columns: [line1] 1fr [line2] 5fr [line3] 1fr [line4];  
    background-color: #3f3f3f;
}

.list-area {
    grid-column-start: line2;
    grid-column-end: line3;
    box-shadow: 10px 0 10px -10px #000000, -10px 0 10px -10px #000000;
    background-color: #ffffff;
    min-height: 100vh;
}

.list-heading-container {
    padding-top: 4vh;
    padding-left: 4vw;
    margin-bottom: 6vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.first-flex-item {
    margin-right: auto;
}

.todo-counter {
    margin-right: 8vw;
    margin-top: auto;
}

#clear {
    background-color: #ffffff;
    border: none;
    outline: none;
    margin-right: 4vw;
    margin-top: auto;
}

#clear:hover {
    text-decoration: underline;
}

.list-day-container {
    margin: 4vh 4vw;
}

.todo-input {
    width: 95%;
    outline: none;
    border: none;
}

.todo-container {
    border: 1px solid #9a9a9a;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    margin-top: 2vh;
    padding: 1vh 2vw;
}

.todo {
    margin-left: 1.5vw;
}

.check {
    background-color: #ffffff;
    color: #ffffff;
    border-radius: 50%;
    border: 1px solid #3f3f3f;
    outline: none;
    cont-size: 1rem;
}

.check:hover {
    color: green;
}

@media (min-width: 320px) and (max-width: 480px) {

    .list-area {
        grid-column-start: line1;
        grid-column-end: line4;
    }

    .list-heading-container {
        padding-top: 4vh;
        padding-left: 4vw;
        margin-bottom: 6vh;
        display: block;
    }

    #list-title, #complete, #remain, #clear {
        margin-top: 1.5vh;
        margin-bottom: 1.5vh;
    }
  
}